@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://fonts.googleapis.com/css?family=Karma";

body,h1,h2,h3,h4,h5,h6 {
    position: relative;
    font-family: "Karma", sans-serif
}
.w3-bar-block .w3-bar-item {
    padding:20px
}

.horizontal-rule {
    position:relative;
    border-top: 3px solid darkgrey;
    margin-top: 5vh;
    margin-bottom: 5vh;
}